<div class="jumbotron" style="padding:45px 0px" style="background:khaki">
  <h4 class="text-center" style="font:bold">ToDo List App </h4>
</div>

<div style="margin:5px 0px" type="text/css">
    <ul class="list-group">
      <li draggable class="list-group-item" *ngFor="let item of toDoListArray" [dragData]="item" style="background:khaki"> 
        <span class="hover-cursor" style="margin:10px" [class.text-success]="item.isChecked" (click)="alterCheck(item.$key,item.isChecked,item.title)">
          <i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
        </span>
        {{item.title}}
        <span class="hover-cursor pull-right" (click)="onDelete(item.$key)">
          <i class="fa fa-remove"></i>
        </span>
      </li>
    </ul>
</div>


<div class="input-group" style="margin: 50px 0px">
    <input type="text" class="form-control"  placeholder="What need to be done?" style="background:khaki"#itemTitle>
    <div class="input-group-addon hover-cursor" (click)="onAdd(itemTitle)" style="background:khaki">
      <i class="fa fa-plus-circle fa-2x"></i>
    </div>
  </div>

<div >
  <h2 class="fa fa-angle-down" style="margin:20px">Checked items </h2>
  <ul class="list-group" >
     <li class="list-group-item" *ngFor="let item of toCheckListArray" style="background:khaki"  style="font:oblique">
        <span class="hover-cursor" style="margin:10px" [class.text-success]="item.isChecked" >
            <i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
        </span>
    {{item.title}}
    <span class="hover-cursor  pull-right" (click)="onDelete(item.$key)">
        <i class="fa fa-remove"></i>
      </span>
   </li>
  </ul>
</div>
<div class="jumbotron" style="padding:50px 0px" style="background:khaki">
    <h4 class="fa fa-google">   Works on Google Chrome</h4>
  </div>


